@media (max-width:1375px) {

    main {
        max-width:1200px ;
        
    }

    .logo {
        max-width: 500px;
        max-height: 100px;
    }
    
    .logo img{
        width: 150px;
    }

    .conteudo img{
        width: 500px;
    }
} 

@media (max-width:896px) {
    
    main{
        max-width: 896px;
        justify-content: center;
        background-size: cover;
        background-image: url(../image/bg-mobile.svg) no-repeat center center;
        align-items: center;
    }
    
.conteudo {
    display: flex;
    flex-direction: column;
     
}

.conteudo img {
  
    width: 300px;
    height: 300px;
}

.about {
    width: 414px;
}

.about .title {
    font-size: 32px;
    
}

.about .description {
    width: 414px;
    padding-right: 150px;
}

   .button {
    margin-top: 50px;
    
   }

}